/*------------------------------------- Architecture -------------------------------------*/

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
}

.prix {
    font-weight: bold;
}

.stars {
    font-size: 0.7em;
}

.blue {
    color: #0065FC;
}

.empty {
    color: #F2F2F2;
}


/*--------------------------------------- Header ----------------------------------------*/

    /*----- La navigation -----*/

.header {
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
}

#inscription {
    font-weight: bold;
    color: #0065FC;
}

.header nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.header nav a {
    margin: 0 5px 0 50px;
    padding: 14px;
}

    /*----- Le Formulaire -----*/

.rechercher {
    display: flex;
    margin-top: 20px;
}

#form {
    display: flex;
}

#localisation {
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

#ville::placeholder {
    color: black;
    font-weight: bold;
}

#research {
    background-color: #0065fc;
    color: white;
    border: 1px solid #0065fc;
    border-radius: 0 10px 10px 0;
}


    /*----- Les Filtres -----*/

.filtres {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.icones {
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    padding: 18px 15px 18px 0;
    height: 0;
}

.icones i {
    color: #0065fc;
    border: 1px solid #DEEBFF;
    padding: 10px;
    margin-right: 10px;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.icone a:hover {
    text-shadow: 2px 2px 5px grey;
    color: #0065fc;
}


    /*----- La Bulle info -----*/

.info {
    display: flex;
    align-items: center;
}

.info i {
    color: #0065fc;
    margin-right: 15px;
    border: 1px solid #F2F2F2;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
}


/*---------------------------------- Section Hébergement -----------------------------------*/

#section_hebergement {
    margin-top: 30px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 60%;
    padding: 0 20px 10px 20px;
}

.hebergement {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hebergement img {
    width: 220px;
    height: 100px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.hebergement .titre_image, .hebergement .nuit, .hebergement .stars {
    line-height: 1px;
    margin-left: 10px;
}

.hebergement .titre_image {
    margin-top: 10px;
}

.descriptif_hebergement {
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    padding: 2px 2px 10px 2px;
    margin-bottom: 20px;
}

.descriptif_hebergement:hover {
    box-shadow: 5px 5px 5px red;
}


/*---------------------------------- Aside Les plus populaires -----------------------------------*/

main {
    display: flex;
    justify-content: space-between;
}

.titre_pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside {
    margin-top: 30px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 30%;
    padding: 0 20px 10px 20px;
}

.populaire img {
    width: 130px;
    height: 130px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.photo_populaire {
    display: flex;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    padding: 2px 10px 2px 2px;
    margin-bottom: 20px;
}

.photo_populaire:hover {
    box-shadow: 5px 5px 5px red;  
}

.populaire .titre_image, .populaire .nuit, .populaire .stars {
    margin-left: 20px;
}

.populaire .nuit {
    margin-top: -20px;
    margin-bottom: 30px;
}


/*--------------------------- Activités -------------------------------*/

.section_activites {
    margin-top: 40px;
}

.activites {
    display: flex;
    justify-content: space-between;
}
.pomegues_frioul, .garde_longchamp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.grande_photo img {
    width: 270px;
    height: 400px;
}

.grand_cadre img {
    width: 270px;
    height: 160px;
}

.moyen_cadre img {
    width: 270px;
    height: 140px;
}

.petit_cadre img {
    width: 270px;
    height: 120px;
}

.grande_photo, .grand_cadre, .moyen_cadre, .petit_cadre {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #F2F2F2;
}

.activites h4 {
    margin-left: 15px;
}

.activites a div:hover {
    box-shadow: 5px 5px 5px red;  
}


/*-------------------------------- Footer ------------------------------------*/


footer {
    margin: 40px -20px 0 -20px;
    background-color: #F2F2F2;
    display: flex;  
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

.propos  {
    margin-left: 50px; 
    line-height: 2em;
}
 
.nos_hebergements, .assistance {
    margin-left: 220px; 
    line-height: 2em;
} 
 
footer a:hover {
    text-shadow: 2px 2px 5px grey;
    color: #0065fc;
}


/*-------------------------------- Media Queries ------------------------------------*/

    /*----- Écran entre 992px et 1199px -----*/

@media (min-width: 992px) and (max-width: 1199px) {

    body {
        width: 97%;
        margin: auto;
    }

    .filtres {
        width: 85%;
    }

    #section_hebergement {
        width: 55%;
    }

    aside {
        width: 35%;
    }

    .photo_populaire h4 br {
        display:none;
    }

    .activites img {
        width: 30vw;
        height: 150px;
    }

    .activites {
        height: 450px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
    }

    .pomegues_frioul, .garde_longchamp {
        width: 65%;
        flex-direction: row;
        justify-content: space-between;
    }





















}









