/*---------------------------- police + architecture -------------------------------------*/

body {
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}


/*------------------------- Les liens de navigation -----------------------*/

#header {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    margin: 0px 5px 0px 50px;
    color: black;
    border: 2px solid transparent;
    padding: 1.4em;
}

header nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 1.4em;
}

#inscription {
    font-weight: bold;
    color: #0065FC;
}


h1 {
    font-size: 1.2em;
    margin-top: 50px;
}


/*------------------------- Le Formulaire ----------------------------*/

#rechercher {
    display: flex;
    margin-top: 20px;
}

#form {
    display:flex;
}

#localisation {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #F2F2F2;
}

#ville {
    padding: 15px;
    font-weight: bold;
    color: black;
    border: 1px solid #F2F2F2;
}

#ville::placeholder {
    color: black;
}

#research {
    background-color: #0065fc;
    color: white;
    border: 1px solid #0065fc;
    padding: 15px;
    border-radius: 0px 10px 10px 0px;
}


/*--------------------- Les Filtres-------------------------- */

.icône a, #filtres p {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#filtres {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.icône {
    margin-left: 30px;
    border: 1px solid #F2F2F2;
    border-radius: 40px;
    padding-right: 10px;
}

.icône i {
    padding: 10px;
    color: #0065fc;
    border: 1px solid #DEEBFF;
    border-radius: 40px;
    margin-right: 10px;
    background-color: #DEEBFF;
}

.icône a:hover {
    color: blue;
    font-size: 1.3em;
    text-shadow: 2px 2px 4px black;
}


/*-----------------------La Bulle info----------------------------*/

#info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#info i {
    margin-right: 10px;
    color: #0065fc;
    border: 1px solid #F2F2F2;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
}


/*-------------------- Section Hébergements---------------------- */

#hebergement img {
    width: 230px;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin-bottom: -7px;
}

#hebergement {
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 80%;
    margin-top: 20px;
}

.carte_hebergement {
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    width: 230px;
    height: 175px;
    padding: 2px;
    margin-bottom: 20px;;
}

#hebergement_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 15px 0px 15px;
}

.carte_hebergement p, .stars {
    line-height: 5px;
    margin-left: 10px;
}

#hebergement h2 {
    margin-left: 30px;
    font-weight: bold;
    padding-top: 20px;
    font-size: 1.2em;
}

#hebergement a {
    text-decoration: none;
    color:black;
}

#afficher {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 30px;
}

.titre_image, .prix {
    font-weight: bold;
}

#hebergement i {
    font-size: 12px;
    margin-right: -2px;
}

.blue {
    color: #0065fc;
}

.empty {
    color: #F2F2F2;
}


/*-------------------- Aside Les plus populaires ---------------------- */

#hebergement_populaire {
    display: flex;
}

aside {
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    margin-left: 35px;
    border-radius: 30px;
    width: 35%;
    margin-top: 20px;
}

#titre_pop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



aside h2 {
    margin-left: 30px;
    font-weight: bold;
    padding-top: 20px;
    font-size: 1.2em;
}

#graph {
    padding: 20px 30px 0 0;
}

aside img {
    width: 120px;
    height: 120px;
    border-radius: 15px 0 0 15px;
}

.carte_populaire {
    display: flex;
}

a {
    text-decoration: none;
}

.carte_populaire p {
    color: black;
}

.descriptif {
    margin-left: 15px;
}

.nuit {
    font-size: 0.8em;
}

.descriptif .nuit {
    margin-top: -10px;
}

.carte_populaire .stars {
    font-size: 0.7em;
    margin: 25px 0 0 0;
}

.populaire {
    border: 1px solid white;
    background-color: white;
    padding: 2px;
    margin: 3px 30px 30px 30px;
    border-radius: 15px;
}


/*--------------------------- Activités -------------------------------*/

#activites {
    margin-top: 50px;
}

#activites_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#pomegues_frioul, #garde_longchamp {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#vieux_port img, #calanques img {
    width: 280px;
    height: 350px;
    object-fit: cover;
}

#pomegues img, #longchamp img {
    width:280px;
    height: 140px;
    object-fit: cover;
}

#frioul img {
    width: 280px;
    height: 110px;
    object-fit: cover;
}

#activites img {
    border-radius: 15px 15px 0 0;
}

#garde img {
    width: 280px;
    height: 120px;
    object-fit: cover;
}

#vieux_port, #pomegues, #frioul, #calanques, #garde, #longchamp {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #F2F2F2;
}

a {
    text-decoration: none;
    color: black;
}

#activites p {
    margin-left: 15px;
    font-size: 0.9em;
    font-weight: bold;
}





